<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.mapper.OrdersExtMapper">
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"></cache>
    <select id="findOrderAndUser" resultType="entity.OrdersExt">
        SELECT orders.id, orders.user_id, orders.number, user.username, user.sex FROM orders, USER WHERE orders.user_id = user.id
    </select>

    <resultMap id="OrderAndUserRstMap" type="entity.OrderMapExt">
        <!-- 订单信息 -->
        <id column="id" property="id"></id>
        <result column="user_id" property="userId"></result>
        <result column="number" property="number"></result> <!-- 用户信息 -->
        <association property="user" javaType="entity.User">
            <id column="user_id" property="id"></id>
            <result column="username" property="username"></result>
            <result column="sex" property="sex"></result>
        </association>
    </resultMap>

    <select id="findOrderAndUserRstMap" resultMap="OrderAndUserRstMap"> SELECT `orders`.id, `orders`.user_id, `orders`.number, `user`.username, `user`.sex FROM orders, USER WHERE orders.user_id = user.id
 </select>


</mapper>
