<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dao.mapper.UserMapper">
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"></cache>

    <select id="findUserById" parameterType="int" resultType="user">
		SELECT * FROM USER WHERE id = #{id}
	</select>

    <select id="findUsersByName" parameterType="java.lang.String"
            resultType="user">
       SELECT * FROM USER WHERE username LIKE '%${value}%'
    </select>

    <select id="findUserByHashMap" parameterType="hashmap" resultType="user">
		SELECT * FROM USER WHERE username LIKE  '%${username}%'
	</select>

    <resultMap id="UserRstMap" type="user">
        <id column="id_" property="id"></id>
        <result column="username_" property="username"></result>
    </resultMap>

    <select id="findUserRstMap" parameterType="int" resultMap="UserRstMap">
        SELECT id id_, username username_ FROM USER WHERE id = #{id}
    </select>

    <select id="findUserListByTag" parameterType="entity.UserQueryVo" resultType="user">
        SELECT * FROM USER
        <where>
            <include refid="sqlFragment"></include>
        </where>
    </select>

    <sql id="sqlFragment">
        <if test="user != null">
            <if test="user.username !=null and user.username!=''">
                AND username LIKE '%${user.username}%'
            </if>
        </if>

        <if test="user.sex !=null and user.sex!=''">
            AND sex=#{user.sex}
        </if>
    </sql>

    <select id="userListByIds" resultType="user">
        SELECT * FROM USER
        <where>
            <if test="li != null and li.size>0">
                AND id in
                <foreach collection="li" item="item" open="(" close=")" separator=",">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>


</mapper>